<!DOCTYPE html>
<html>
<head>
  <title>STEM Sports</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
</head>
<body>

<%= yield %>

</body>
</html>
